<html>
<head>


<title> To Do List</title>   
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link href = "/styles.css" rel = "stylesheet" type = "text/css" />
<script src="/todo-list.js"></script>
</head>

<body>
<div id = "todo-table">
    <form>
<input type = "text" name = "Item" placeholder="Add New Item..."required/>
<button type = "submit"> Add Item</button>
    </form>

</div>
<ul>
<li>Item 1 </li>
<li>Item 2 </li>
<li>Item 3 </li>
<li>Item 4 </li>
<li>Item 5 </li>

</ul>
</body>



</html>